extends layout

block content
    h1= title

    form(action='/new', method='post', class="form-horizontal")
        .form-group
            lable#title(class="col-md-4 control-label" for="title") Заголовок
            .col-md-4
                input#title(class="form-control input-md", placeholder="Утро 2057 года..." name="title")

        .form-group
            label(class="col-md-4 control-label" for="body") Текст поста
            .col-md-4
                textarea.form-control#textarea(name="body", placeholder="Привет, двач")

        .form-group
            .col-sm-offset-2.col-sm-4
                button#save(name="save", type="submit", class="btn btn-primary") Сохранить